extends layout

include mixins.jade

block content
	div.text-center
		h1 express your opinion to the world!
		h2.text-muted share your music taste using our Spotify-connected reviews
		div.cta-buttons
			a(href="/log/in").btn.btn-primary.btn-lg Get started
			a(href="#latest-reviews").btn.btn-default.btn-lg See latest reviews

	h1#latest-reviews latest reviews
	div.row
		each review, index in reviews
			div.review.col-md-3.col-sm-6
				a(href="/#{review.author}").review-author
					= review.author

				h2.review-title
					a(href="/#{review.author}/review/#{review.id}")
						= review.title

				+rating(review.rating)
