extends layout

include components.jade

block content
	.content.container
		ol.breadcrumb
			case spotifyItem.type
				when 'album'
					li
						each artist, index in spotifyItem.artists
							+artist(artist)
							if index !== (spotifyItem.artists.length - 1)
								= ', '
				when 'track'
					li
						each artist, index in spotifyItem.artists
							+artist(artist)
							if index !== (spotifyItem.artists.length - 1)
								= ', '
					li
						+album(spotifyItem.album)

		h1 #{spotifyItem.name}

		h2.text-muted reviews

		if reviews.length === 0
			p(role="alert").alert.alert-info
				= 'There are no review yet. '
				a(href="/log/in") Be the first
				= ' to write one!'
		else
			include review/list.jade
