html {
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	font-family: 'Merriweather', serif;
	padding-top: 70px;
}

a,
.btn-link {
	color: #009C3A;
}

a:focus,
a:hover,
a:active,
.btn-link:focus,
.btn-link:hover,
.btn-link:active {
	color: #1ED763;
}

.btn-primary {
	border-color: #009C3A;
	background-color: #009C3A;
}

.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active {
	border-color: #009C3A !important;
	background-color: #1ED763 !important;
}

.btn-danger {
	color: #FFF !important;
}

.form-control:focus {
	border-color: #1ED763;
}

.form-horizontal .checkbox,
.form-horizontal .checkbox-inline,
.form-horizontal .radio,
.form-horizontal .radio-inline {
	padding-top: 4px;
}

.display-inline {
	display: inline;
}

.navbar-brand {
	height: 70px;
	padding: 25px 15px;
	text-transform: uppercase;
}

.navbar-btn {
	margin-top: 10px;
	margin-bottom: 10px;
}

.navbar-inverse .navbar-nav > li > .navbar-btn {
	color: #eee;
}

.navbar-inverse .navbar-nav > li > .navbar-btn:focus,
.navbar-inverse .navbar-nav > li > .navbar-btn:hover {
	background-color: #1ED763;
}

@media (min-width: 768px) {
	.navbar-nav > li > a:not(.btn) {
		padding-top: 25px;
		padding-bottom: 25px;
	}
}

.breadcrumb {
	color: #ccc;
	border-radius: 0;
}

.breadcrumb a {
	color: #a0a0a0;
}


.content {
	flex: 1;
}

.footer {
	color: #666;
	margin-top: 25px;
	padding: 15px;
	background-color: #ccc;
}

.reaction-component .btn {
	padding: 6px;
	margin-left: 4px;
}

.navbar .spotify-logo {
	position: relative;
	top: -6px;
	height: 25px;
	margin-left: 6px;
	margin-bottom: -10px;
}

.hero-section {
	position: relative;
	background-color: rgba(0, 0, 0, 0.85);
	border-bottom: 1px solid #000;
}

.hero-section:after {
	content: '';
	width: 100%;
	position: absolute;
	top: 0;
	z-index: -1;
	height: 100%;
	background: url(../hero-background.jpg) 0 69px fixed;
}

.hero-section .container {
	padding: 150px 0;
}

.hero-title {
	font-size: 42px;
	color: #ccc;
}

.hero-subtitle {
	font-size: 22px;
}

.hero-cta-buttons {
	margin-top: 40px;
}

.hero-cta-buttons .btn {
	margin: 0 10px;
}

.reviews-section {
	padding: 20px 0;
}

.review {
	margin-top: 20px;
}

.review-author {
	color: #a0a0a0;
}

.review-author:focus,
.review-author:hover {
	color: #666;
}

.review-title {
	margin-top: 0;
}

.review-title a {
	color: #333;
}

.review-player {
	margin-top: 10px;
}

.review .rating-component {
	font-size: 20px;
}

.comment {
	margin-top: 20px;
}

.comment-author {
	color: #333 !important;
	font-weight: bold;
}

.comment .reaction-component {
	margin-top: 10px;
}