body {
	font-family: 'Merriweather', serif;
	padding-top: 70px;
}


.navbar-brand {
	height: 70px;
	padding: 25px 15px;
	text-transform: uppercase;
}

@media (min-width: 768px) {
	.navbar-nav > li > a:not(.btn) {
		padding-top: 25px;
		padding-bottom: 25px;
	}
}